easyocr==1.7.2
transformers==4.41.0
paddleocr==2.7.0.0
paddlepaddle==2.5.1
pytesseract==0.3.13
pytwain==2.3.0
Requests==2.32.3
surya-ocr==0.13.1
numpy==1.26.4
torch==2.5.1
ultralytics==8.3.103
uvicorn
fastapi
fastapi-utils
python-multipart